.container {
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
    overflow-y: hidden;
    opacity: 0.99;
}

.remember-me-container {
    display: flex;
    align-items: center;
}

.login-container-wrapper {
    height: 100%;
}

.container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    opacity: 0.3;
    z-index: -1;
}

.card-element {
    margin-top: 18% !important;
    width: 400px !important;
    height: 350px !important;
    top: 50% !important;
    left: 50% !important;
    margin-left: -200px !important;
}

.ui.form {
    padding: 30px;
    padding-top: 20px;
}

.remember-me {
    margin-right: 10px;
    transform: scale(1.5);
}

.login-button {
    float: right;
}

.ui.card {
    margin-right: 0px !important;
}